@import "../scss/colors.scss";
@import "../scss/fonts.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    font-family: $montserrat !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $poppins;
    font-weight: 600 !important;
}

p {
    font-weight: 500;
    margin-bottom: 1rem !important;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.section {
    padding: 80px 0;
}

.section-header {

    h2 {
        color: $primary;
        font-weight: 700 !important;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .section-header-description {
        color: $secondary;
        padding-bottom: 30px;
    }
}

.card-deck {

    .card {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .card-title {
        color: $primary !important;
        font-family: $poppins;
        font-weight: 600;
    }

    .card-text {
        font-family: $montserrat;
        color: $secondary;
    }
}